*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    text-align: center;
    height: 7rem;
    background: rgba(0, 10, 31, 0.938);
    

    
}
.logo-img{
    margin-left: 2rem;
    width: 90px;
    object-fit: cover;
    border-radius: 60%;
    height: 4rem;
}
.nav-links{
    display: flex;
    list-style-type: none;
    gap: 1.4rem;
   
    

}
.nav-link:link,
.nav-link:visited{
font: size 1.5rem;
 text-align: none;
color: rgb(253, 247, 247);
font-weight: 500; 

}
.nav-link:hover,
.nav-link:active{
    color: rgb(202, 101, 5);
    cursor: pointer;
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
    border-radius: 2px solid gray;
}
.link-green:link,
.link-green:visited{
    color: rgb(243, 242, 235);
    border-radius: 1.5rem;
    font-size: 1.8rem;
    /* background: rgb(20, 65, 77); */
    padding: 1.2rem 1.2rem;
}
.link-green:hover,
.link-green:active{
    color:rgb(255, 253, 253);
   

}


.btn-link:link,
.btn-link:visited{
    
    padding: 0.4rem 1rem;
  
    font-size: 1.3rem;
    

}
.btn-link:hover,
.btn-link:active{
    color:rgb(252, 252, 248)
    

}